# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
node_modules
dist
dist-ssr
dist-electron
*.local

# Release builds and executables
release/
*.dmg
*.app
*.exe
*.deb
*.rpm

# Environment files
.env
.env.local
.env.*.local
*.env
*.envrc
.envrc.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
